* {
    margin: 0;
    padding: 0;
  }
body{
   /*background-color: #001e62;*/
   background-color : white ;
}
.top a{
    margin-left: 600px;
    width: 300px;
    height: 200px;
    display: grid;
    align-items: center;
    color: transparent;
    font-size: 5rem;
    overflow: hidden;
}
.top{
    background-image: url("tennistcg.png");
    height: 200px;
    overflow: hidden;
}
.top p{
    font-size: 3rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline red;
}


h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.nav{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    border: 10px;
    padding-left: 0;
}
.radio_ligne{
    display:flex;
    align-items: center;
}

.nav li{
    gap: 10px;
    display: flex;
    justify-content:flex-start;
    margin-left: 100px;
    list-style-type:none;
    padding: 30px;     
    color:#fff;
}
.nav li a{ 
    color: white;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400px;
    font-style: normal;
}


.nav li:hover{
    background-color: rgb(133, 152, 38);
    border: none;
}


.nav li a:hover{
    color: #24350e;
}

.slider{
    height: 300px;
    width: 600px;
    position :relative;
    margin-left: 450px;
    margin-top: 100px;
}

.slider_content{
    border:solid black 10px;
    height:100%;
    width:100%;
    display:flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.figcaption{
    background-color: #222;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3px;
    text-align: center;
    font-size: 20px;
}
.slider_content_item{
    height: 100%;
    min-width: 100%;
    flex-flow : column;
   
}
.slider_content_item img:hover{
   opacity: 0.90;
   
}
.slider_content_item img{
    height: 100%;
    min-width: 100%;
   
}
.slider_description{
    margin-right: 100px;
    position: absolute;
    margin-bottom: 100px;
}
.Bouton_slide{
    background-color: transparent;
    border: none;
}
.Bouton_slide svg{
    width: 50px;
    height: 50px;
}
.Bouton_slide svg path{
    stroke:white;
}
.Bouton_slide--next{
    position: absolute;
    right:100px;
    top : 4%;
    transform: translateY(-50%);
}
.Bouton_slide--previous{
    position: absolute;
    left:100px;
    top : 4%;
    transform: translateY(-50%);
}
