/*To manage the CSS apropos page*/
h1 {
    text-align: center;
    color: #001e62;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 2px;
 }

 .hero {
    background-color: var(--button-bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
    color: var(--link-unvisited);
    font-size: xx-large;
    font-style: italic;
    text-decoration: underline;
  }

/* Nav Menu */
.header1{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-left: 0% ;
    padding-right: 0%;
    background-color: white;
}

nav {
    padding-top: 20px;
    padding-left: 0% ;
    padding-right: 0%;
    width: 100%;
}

.nav{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    background-color: #001e62;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.nav li{
    list-style-type:none;
    border: 1px solid white;
    padding: 30px;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.nav li:hover{
    background-color: #d96211;
}

.nav li a:hover{
    color: #24350e;
}

*{
    box-sizing: border-box;
 }

 /*main*/
 .row {
    display: flex;
    flex-wrap: wrap;
 }

 .post-text-box {
    flex: 70%;
    padding: 20px;
 }

 .tgc-orange {
    font-size: 1.2em;
    font-weight: bold;
    color: #d96211;
 }

 .apropos-titre2 {
    color: #001e62;
    text-align: center;
    border: 0.05em solid #d96211;
    border-radius: 1em;
    padding: 0.3em;
    display: flex;
 }

 .p-apropos {
    font-family: 'roboto', sans-serif;
    font-size: 1.3em;
    text-align: justify;
 }

 /*Slide images*/
 .custom-slider { display: none; }
.slide-container {
    width: 100%;
    position: relative;
    padding-left: 0% ;
    padding-right: 0%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.slide-img{

    height: 600px;
    object-fit: cover;
    object-position: center;
    width:100%;

}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
 