

 .container {
     width: 100%;
     height: 100%;
     display: flex;
     /*justify-content: center; */
     align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    /*flex-direction: column; */ 
    /*align-items: center; */
    flex-wrap: nowrap;
    
    flex-wrap: nowrap;
 } 
 
 .image-list{
   width: 250px;
   height: 610px;;
   background-color: rgba(0, 157, 255, 0.825);
   border-radius: 10px;
   box-shadow: 2px 10px rgb(red, green, blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between ;
  box-sizing: border-box;
  margin: 20px 10px;
  /*gap: 10px;*/
   /* margin-top: 200px;
    display: flex;*/
    /*justify-content: space-around;
    align-items: center;*/
 }
 .detail{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 300px;
 }
 .detail p{
     color: azure;
     text-align: center;
     margin-top: 20px;
 }
 .detail h1{
     color: azure;
 }
 .ARTENGO{
     color: blue;
     font-size: 25px;
     font-weight: bold;
     letter-spacing: 2px;
     margin-top: 20px;
 }
 
.logo{
    width: 100px;
}
/*.content{
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.image{
    gap: 10px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .image_item{
    gap : 10px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
