/* copy paste this part in the end of your style and clean commin parts: begin */
* {
  --button-bg-color1: #001e62; /* (PMS 2758) */
  --button-bg-color2: #003762; /* (PMS 2758) */
  --site--bg-color: #ffffff; /* (blanc) */
  --site--font-color-clear: var(--site--bg-color); /* (blanc) */
  --site--font-color-clear2: #c4e4ff; /* (not so white) */
  --link-unvisited: #d96211; /* like terre battue */
  --text-size-medium: 0.8rem;

  box-sizing: border-box;
  font-family: roboto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.footer-coordinates {  
  padding: 0;
}

.footer-coordinates li label {  
  display: inline-block;
  width: 100px;
}


.footer-coordinates li:not(:last-child) { 
  margin-bottom: 1rem;  
}

.page-footer a {
  color: var(--link-unvisited);
  font-weight: normal;
}

.page-footer a:hover {
  font-weight: bold;
}

.page-footer a:hover {
  font-weight: bolder;
}

.footer-social {
  color: var(--site--font-color-clear2);
  background: linear-gradient(
    to right,
    var(--button-bg-color1),
    var(--button-bg-color2)
  );
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  gap:20px;
}

.footer-icons i {
  background-color: var(--site--font-color-clear2);
  color: var(--button-bg-color1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-infos {
  margin-top: 1rem; 
  padding: 20px;

  background-color: #ece9e8;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;/
} 

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h3 {
  font-size: 18px;
}

.footer-icons > a:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.4s;
}

.footer-icons > a:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.4s;
}

@media screen and (max-width: 768px) {
  .footer-icons {
    justify-content: center;
  }

  .footer-infos {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    align-self: center;
    text-align: center;
    flex: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .footer-social h3 {
    align-self: center;
  }

  .footer-coordinates li label {  
    display: unset;
    width: 100px;
  }
}
/* copy paste this part in the end of your style and clean commin parts: end */